<div id="container">
    <div id="mainView">
        <div class="cityInfo">
            <h1 id="day">${now.date}</h1>
            <div>
                
                  <span id="refresh">  <img src="res/img/refresh.png" class="ico" alt="Refresh" title="Refresh" ></span>
                <h1 id="temp">${now.temp}&deg;<br><span class="cityName">${now.name}<br><span id="condition">${now.condition}</span></span></h1>

            </div>
        </div>


    </div>
    <div id="stats">
        <div class="info">
            <h1 id="statistics">Statistics</h1>
            <hr>
            <ul id="detail">
                <li class="li Icons">
                    <div>
                        <img src="./res/img/icons/rain.png">
                        <p>${now.rain}%</p>
                    </div>
                </li>

                <li>
                    <div>
                        <img src="./res/img/icons/windsock.png">
                        <p>${now.wind_dir}</p>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="./res/img/icons/air.png">
                        <p>${now.wind}</p>
                    </div>
                </li>

                <li>
                    <div>
                        <img src="./res/img/icons/cloud.png">
                        <p>${now.cloud}%</p>
                    </div>
                </li>
            </ul>
        </div>
        
<div id="pred">


    
</div>

    </div>

</div>