<div id="container">
    <div id="mainView">
        <link href="../styles/index.css" rel="stylesheet" type="text/css" />
        <div class="cityInfo">
            <h1 id="day">${now.date}</h1>
            <div>
                <h1 id="temp">${now.temp}&deg;<br><span class="cityName">${now.name}<br><span id="condition">${now.condition}</span></span></h1>

            </div>
        </div>


    </div>
    <div id="stats">
        <div class="info">
            <h1 id="statistics">Statistics</h1>
            <hr>
            <ul id="detail">
                <li class="li Icons">
                    <div>
                        <img src="./res/img/icons/rain.png">
                        <p>${now.rain}%</p>
                    </div>
                </li>

                <li>
                    <div>
                        <img src="./res/img/icons/windsock.png">
                        <p>${now.wind_dir}</p>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="./res/img/icons/air.png">
                        <p>${now.wind}</p>
                    </div>
                </li>

                <li>
                    <div>
                        <img src="./res/img/icons/cloud.png">
                        <p>${now.cloud}%</p>
                    </div>
                </li>
            </ul>
        </div>
        
<div id="forecast">

<ul id="ulForecast">
<li><h1>Today</h1>
</li>
<li><h1>Week</h1>
<hr>
</li>
<li><h1>Month</h1></li>
</ul>
<hr>
<table>
<tr>
<td>1:00 pm</td>

 <td style="display:flex;float: left; padding-left:50%">Sunny<span style="font-size: 20pt;color:rgb(255, 71, 141)">&ThinSpace; 24&deg;</span></td>

</tr>

<tr>
        <td>2:00 pm</td>
</tr>
<br>
<tr>
        <td>3:00 pm</td>
</tr>
<br>
<tr>
<td>4:00 pm</td>

</tr>

</table>


</div>



    </div>

</div>