
<link rel="stylesheet" type="text/css" href="../styles/index.css">
<div id="container">
<div id="mainView"> 
<div  class="cityInfo">
	
<h1  id="day">August 18 , 2018</h1>
<div>
 <h1 id="temp">24&deg;<br><span class="cityName">Amritsar<br><span id="condition">Sunny</span></span></h1>   

<!-- <h4  class="cityName" id="day">Wednesday, Aug 18 </h4> -->
</div>
</div>


</div>
<div id="stats">
    <div class="info">
            <h1 id="statistics">Statistics</h1>
            <hr>
    </div>
    
  
    



</div>

</div>