@font-face{
font-family:'YantraManav';
src:url('../res/fonts/Yantramanav/Thin.ttf');
}
@font-face{
    font-family:'Raleway';
    src:url('../res/fonts/Raleway/Light.ttf');
    }

body {
    border-radius: 2px;
    margin: 0px 0px 0px 0px;
}


.ico{

height:40px ;
width: 40px;

}
.noLocMsg #par_noLoc {
    width: fit-content;
    margin: auto;
    font-size: 15px;
    border-radius: 3px;
    padding: 8px 8px;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    text-align: center;
    display: block;
    /* margin-bottom: 0px; */
    /* margin-top: auto; */
    top: 24%;
}

.noLocMsg #but_addLoc {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    cursor: pointer;
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 8px 8px;
    border-radius: 3px;
    color: black;
    text-decoration: none;
    max-width: fit-content;
    top: 40%;
}

.noLocMsg {
    /* filter: blur(1px); */
    background-color: rgba(255, 255, 255, 0.729);
    height: 100%;
    backface-visibility: hidden;
    background-blend-mode: hard-light;
    background: url("../res/img/pane.jpg") no-repeat;
    background-size: cover;
}

#list {
    color: black;
    background-color: rgb(222, 222, 222);
    display: block;
    font-size: 15px;
    padding: 0px 8px;
}

.main #add {
    padding: 8px 8px;
}

.main #sett {
    border-radius: 100px;
    z-index: -9;
    opacity: 0.6;
    padding: 10px 10px;
    bottom: 0px;
    position: absolute;
}

.main #slider {
    z-index: 9;
    position: absolute;
    width: 35%;
    height: 100%
}

.main #header {
    height: 100%;
    background-color: rgba(222, 222, 222, 0.82);
    box-shadow: 0px -2px 11px black;
}

.toLeft {
    left: -170px;
}

footer {
    position: fixed;
}

#noNet {
    display: None;
    width: 90%;
    margin: auto;
    font-size: 25px;
    border-radius: 3px;
    padding: 8px 8px;
    color: #0f32ff;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    text-align: center;
    z-index: 99;
}

/* 
addLoc.html
*/

#loading{
    height:50%;
width: 30%;
display: none;
margin: auto;


}

#results {
    display: inline;
}   

.list-group-item {
    padding: 8px 20px !important;
    border-radius: 0px !important;
}

#locUl li {
    cursor: pointer;
}
#replacer{
    height: 100%;
}


#lister {
    position: absolute;
    width: 70%;
}

#locSearch {
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    width: 100%;
}


/*------------Main Views------------*/


#mainView{
    box-shadow: 0px 0px 10px 0px black;
    height: 100%;
    font-family:YantraManav;
    color:rgb(255, 255, 255);
    width: 35%;
    border-radius: 10px 0px 0px 10px;
    background: #ee0979;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top left, #ff9950, #ff0095b3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}

.cityInfo #weatherInfo{
position: sticky;
    top: 10%;
    width: 10%;
    display: block;
    margin-left: 20%;

}

.cityInfo .cityName{
    font-family: YantraManav;
font-weight: 800;    
font-weight: 600;
font-size: 20pt;
    text-align:left;
}
#temp{
    font-weight: 100;
    font-family: Raleway;
    margin-bottom: 0px;
    margin-top: 65%;
    padding-left:50px;
font-size: 10em;
}
.cityInfo #day{
    font-weight: 400;
    padding-left:50px; 
   font-size: 17pt !important; 
}
#condition{
    font-weight: 400;
}
#container{
display: flex;
flex-wrap: wrap;

}

#stats{
    font-family: Yantramanav;
    color: rgb(160, 160, 160);
width:65%;
height: 100%;

}
#statistics{
font-size: 20pt;
}

.info{
    padding-left:50px; 
}

#detail{
    margin: 0px;
    text-align: center;
    display: flex;
    list-style: none;
}
li{
text-align: center;
    margin-right: 18%;;
}
li img{
    padding-top: 10px;
height: 8%;
}
li div{
font-size: 15pt;
    text-align: center;
}

#forecast{
    margin-left: 50px;
}
#forecast hr{
    margin:0px;
}

li hr{
    height: 3px;
    border:none;
background-color: tomato;
}

div #ulForecast{
    padding: 0px;
margin: 0px;
    display: flex;
    list-style: none;
}

#ulForecast h1:hover{


}
#ulForecast h1{
    cursor: pointer;
font-size: 20pt;
;
}
table{
    border-collapse: separate;
    font-family: YantraManav;
    border-spacing: 15px;
font-size: 20pt;
font-weight: 500;
    width:100%;;
}
